
body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
}
/* Estilos para el scroll del dropdown múltiple */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}
